{% extends "base.html" %} {% block content %}
<h2>Privacy Policy</h2>
<p>
  This privacy policy sets out how "Impro Neuf - Showtime" application uses and
  protects any information that you give "Impro Neuf - Showtime" application
  when you use this website. The sole purpose of this application is to provide
  a tool to help admins create events for Impro Neuf.
</p>
<p>
  "Impro Neuf - Showtime" application does not collect any personal information.
  "Impro Neuf - Showtime" does not store any personal information other than the
  information provided by the teams when they sign up and the necessary
  information to create shows, which is public.
</p>
{% endblock %}
