body {
  background-color: #020202;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #333;
  border: #333 1px solid;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #111;
  color: white;
  border-bottom: 1px solid #444;
}

tr:nth-child(even) {
  background-color: #000;
}

tr:nth-child(odd) {
  background-color: #111;
}

tr:hover {
  background-color: #303030;
  cursor: pointer;
}

a {
  color: #fc5050;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

/* Add these styles for the title bar */
.title-bar {
  background-color: #111;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-link {
  margin-right: 1rem;
}

.title-bar h1 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  margin-left: 30px;
}

/* Add these styles for the logo */
.logo {
  height: 40px;
  margin-right: 1rem;
  vertical-align: middle;
}

/* Add these styles for the sidebar */
.wrapper {
  display: flex;
}

.sidebar {
  background-color: #111;
  padding: 1rem;
  width: 100px;
  min-height: calc(100vh - 2rem);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 5px;
  border-radius: 5px;
}

.sidebar li a:hover {
  background-color: #fc5050;
  color: white;
}

.main-content {
  flex-grow: 1;
  padding: 1rem;
}

/* Homepage */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-logo {
  max-width: 50%;
  height: auto;
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1rem;
}
